# Configuración del Servidor
PORT=3000
NODE_ENV=development

# Base de Datos (MongoDB Atlas o Local)
MONGO_URI=mongodb://localhost:27017/young-group

# Seguridad (JWT)
JWT_SECRET=una_palabra_secreta_muy_larga_y_segura_2026
JWT_EXPIRES_IN=7d

# Configuración adicional (Opcional)
CORS_ORIGIN=http://localhost:5173

# Google Calendar API (Service Account)
GOOGLE_CLIENT_EMAIL=tu-service-account@tu-proyecto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nTU_CLAVE_PRIVADA_AQUI\n-----END PRIVATE KEY-----\n"
GOOGLE_CALENDAR_ID=primary
