# Configuración del Servidor
PORT=3000
NODE_ENV=development

# Base de Datos (PostgreSQL)
DATABASE_URL=postgresql://church:church_pass@localhost:5435/church_db

# Seguridad (JWT)
JWT_SECRET=una_palabra_secreta_muy_larga_y_segura_2026
JWT_EXPIRES_IN=7d

# Configuración adicional (Opcional)
CORS_ORIGIN=

# Google Calendar API (Service Account)
GOOGLE_CLIENT_EMAIL=tu-service-account@tu-proyecto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nTU_CLAVE_PRIVADA_AQUI\n-----END PRIVATE KEY-----\n"
GOOGLE_CALENDAR_ID=primary
GOOGLE_DRIVE_ID=tu-google-drive-folder-id
#BACKUP_DIR=/ruta/a/tu/carpeta/de/backups
GOOGLE_OAUTH_CLIENT_ID=TU_CLIENT_ID.apps.googleusercontent.com
GOOGLE_OAUTH_CLIENT_SECRET=TU_CLIENT_SECRET
GOOGLE_REFRESH_TOKEN=1//04xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
